body{
  /* background-color: whitesmoke; */
  /* background: linear-gradient(to top, #000, #000) repeat-y center/1px; */
}
nav {
    width: 100%;
    height: 80px;
    background-color: white;
    padding-top: 5px;
    box-sizing: border-box;
    display: flex;
  }
  ul {
    display: flex;
  }
  li {
    list-style: none;
  }
.nav-box  a {
    display: block;
    text-decoration: none;
    color: black;
    margin-right: 35px;
    font-family: '游明朝';
  }
.nav-box{
  margin-left: auto;
  align-items: flex-end;
  justify-content: flex-end;
  /* background: #2275b8; */
}
.log_img img{
  width: 100%;
}
.log_img{
  text-align: center;
}
.sub{
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
  font-family: '游明朝';
  /* background-color: #6091d3; */
}
#txt{
  font-size: 150%;
  font-family: '游明朝';
}
.greeting{
  align-items: center;
  /* background-color: darkgrey; */
  padding: 10vw;
}
.greeting_box{
  width: 80vw;
  display: flex;
  align-items: center;
}
.greeting_img{
  width: 32vw;
  text-align: right;
}
.greeting_box img{
  width: 20vw;
}
#greeting{
  font-family: '游明朝';
  font-size: 90%;
  width: 40vw;
}
#name{
  font-size: 150%;
}
.comment_box{
  text-align: center;
  margin-bottom: 5vw;
}
#comment{
  font-size: 150%;
}
.comment_box a{
  font-family: '游明朝';
  font-size: 120%;
  /* background-color: bisque; */
}
.achievements{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}
.information{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}
.introduction{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}
.contact{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}
.box11{
  width: 35vw;
  padding: 0.5em 1em;
  margin: 2em 0 0 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box12{
  width: 35vw;
  padding: 0.5em 1em;
  margin: 2em 0 0 10vw;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box11 a {
  margin: 0; 
  padding: 0;
  font-size:xx-large
}
.box12 a {
  margin: 0; 
  padding: 0;
  font-size:xx-large
}
.box{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5vw 10vw 5vw 10vw;
}
.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0;
  text-decoration: none;
  color: #67c5ff;  
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
  transition: .2s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}
.box img{
  width: 10vw;
}