nav {
    width: 100%;
    height: 150px;
    background-color: black;
    padding-top: 5px;
    box-sizing: border-box;
    display: flex;
  }
  ul {
    display: flex;
  }
  li {
    list-style: none;
  }
  a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
  }
.nav-box{
  margin-left: auto;
  align-items: flex-end;
  justify-content: flex-end;
  /* background: #2275b8; */
}
.log-box{
  margin-left: 3%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: aliceblue;
}
.log-1{
  text-align: center;
  font-size: large;
}
.log-2{
  text-align: center;
  font-size: xx-large;
}
.log-3{
  text-align: center;
  font-size: large;
}
#philosophy{

}
.philosophy-1{
  font-size: xx-large;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  height: 75%;
}
.philosophy-2{
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  height: 75%;
}
.img{
  margin-top: 10%;
  text-align: center;
}
.achievements{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}
.information{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}
.introduction{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}
.contact{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}