nav {
    width: 100%;
    height: 80px;
    background-color: white;
    padding-top: 5px;
    box-sizing: border-box;
    display: flex;
  }
  ul {
    display: flex;
  }
  li {
    list-style: none;
  }
.nav-box  a {
    display: block;
    text-decoration: none;
    color: black;
    margin-right: 35px;
    font-family: '游明朝';
  }
.nav-box{
  margin-left: auto;
  align-items: flex-end;
  justify-content: flex-end;
  /* background: #2275b8; */
}
.log-box{
  margin-left: 47.5%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: aliceblue;
}
.log-1{
  text-align: center;
  font-size: large;
}
.log-2{
  text-align: center;
  font-size: xx-large;
}
.log_img{
  text-align: center;
}
.sub{
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
}
#txt{
  font-size:xx-large;
  font-family: '游明朝';
}
.greeting_box{
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
#greeting_img{
 text-align: right;
 
}
.greeting_box img{
  width: 40%;
  height: 40%;
  text-align: right;
}
#greeting{
  font-family: '游明朝';
  font-size: large;
}
#name{
  font-size:x-large;
}
.comment_box{
  text-align: center;
}
#comment{
  font-size: x-large;
}
.achievements{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}
.information{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}
.introduction{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}
.contact{
  margin-top: 10%;
  font-size: xx-large;
  color: black;
  text-align: center;
  text-decoration:underline;
}